<header>
  <h1>Welcome!</h1>
</header>
<article>
  <section class="home-section">
    <h2>Who am I?</h2>
    <p>My name is Unai Benajes. I am a passionate individual dedicated to technology and software development. As an
      informatics engineer and full-stack application developer, I bring my experience in both front-end and back-end
      technologies. My goal is to find a job that aligns with my skills and allows me to contribute my knowledge as a
      software engineer.</p>
  </section>
  <section class="home-section">
    <h2>What is this app for?</h2>
    <p>This app is a technical test designed to showcase my skills with Angular and Angular Material. It's a simple yet
      well-structured application built following SOLID principles. The app retrieves and displays information from a
      highways API, in order to demostrate my ability to work with external data sources and create efficient and
      maintainable code.</p>
  </section>
  <section class="home-section">
    <h2>Contact me</h2>
    <p>Feel free to reach out through my LinkedIn: <a href="https://www.linkedin.com/in/unai-benajes-esbr%C3%AD/"
        target="_blank">{{ linkedin }}</a>. You can also send me an email at <a href="mailto:unai8b@gmail.com">
        {{ gmail }}</a>. Don't hesitate to contact me for any inquiries or discussions.</p>
  </section>
</article>