header {
  text-align: center;
  padding: 20px;
}

.home-section {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}

h2 {
  color: #6576d7;
}

/* Media query for screens between 960px and 1499px */
@media screen and (min-width: 960px) and (max-width: 1499px) {
  .home-section {
      margin: 0 150px;
  }
}

/* Media query for screens wider than or equal to 1500px */
@media screen and (min-width: 1500px) {
  .home-section {
      margin: 0 200px; /* Adjust the margin value as needed */
  }
}

/* Media query for screens up to 959px (mobile screens) */
@media screen and (max-width: 959px) {
  .home-section {
      margin: 0 20px;
  }
}