header {
  text-align: center;
  padding: 20px;
}

.home-section {
  text-align: center;
  padding: 20px;
  margin: 0 20px;
}

h2 {
  margin-top: 0px;
  color: #6576d7;
}

p {
  line-height: 1.5;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.button {
  background-color: #7d8de3;
}

@media (min-width: 960px) {
  .home-section {
    margin: 0 150px;
  }
}

@media (min-width: 1500px) {
  .home-section {
    margin: 0 200px;
  }
}

@media (min-width: 2300px) {
  .home-section {
    margin: 0 400px;
  }
}
