header {
  text-align: center;
  padding: 20px;
}

.cards-container {
  margin: 25px 50px;
  display: grid;
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.loading-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

@media (min-width: 600px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1500px) {
  .cards-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1800px) {
  .cards-container {
    grid-template-columns: repeat(6, 1fr);
  }
}